<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="classpath:database.properties">
        <property name="dataSourceUrl" value="jdbc:mysql://localhost:3306/ebook"/>
        <property name="dataSourceUsername" value="${mysql.username}"/>
        <property name="dataSourcePassword" value="${mysql.password}}"/>
        <property name="dataSourceDriverName" value="com.mysql.jdbc.Driver"/>
    </properties>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <package name="com.jim.mybatis.model"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="url" value="${dataSourceUrl}"/>
                <property name="driver" value="${dataSourceDriverName}"/>
                <property name="username" value="${dataSourceUsername}"/>
                <property name="password" value="${dataSourcePassword}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/BookMapper.xml"/>
    </mappers>
</configuration>